|<?php
|/**
| * Copyright(c) 1997-2018 Nihon Jyoho Create Co.,Ltd.
| */
|?>
|<?php $resultKey = (RS_STR_RENT === $rentSaleStr) ? $searchManager::RS_STR_NO_BUNDLE : $rentSaleStr; ?>
|<?php $result = $searchManager->getBkResultDataDirect($resultKey, $query); ?>
.row
    .headtitle.col-md-12
        .h2.heading(data-subtitle="{{ $subTitle }}") {{ $mainTitle }}
    .targetNumber.col-md-12.text-md-right.text-center
        .normal.d-inline-block
            |<?php $meta = $searchManager->getResultMetaData($rentSaleStr); ?>
            span 該当物件数
            span.count {{ (empty($meta['total']) ? 0 : $meta['total']) }}
            span 件
.row
    |<?php foreach($result as $resultData) { ?>
    .bk-data.bk-data-list.col-md-6.col-lg-4.mb-4
        |<?php
        |   $link = "/{$rentSaleStr}/detail/{$resultData[$searchManager::BK_DATA_ID]}";
        |   $title = $searchManager->createLinkTitle($rentSaleStr, $resultData);
        |?>
        a(href="{{ $link }}" target="_blank" title="{{ $title }}")
            .continner.card
                .img.card-img-top
                    div
                        |<?php
                        |   $imgPath = PATH_NOPHOTO_IMG;
                        |   $imgAlt = 'NO IMAGE';
                        |   if(isset($resultData[$searchManager::BK_DATA_IMAGES][0]['path']['large'])) {
                        |       $imgPath = $resultData[$searchManager::BK_DATA_IMAGES][0]['path']['large'];
                        |       $imgAlt =  $resultData[$searchManager::BK_DATA_IMAGES][0]['comment'];
                        |   }
                        |?>
                        img.img-fluid(src="{{ $imgPath }}", alt="{{ $imgAlt }}")
                .card-body
                    .crui_name.badge.badge-dark.mb-1
                        .value {{ (empty($resultData[$searchManager::BK_DATA_BILDTYPE]['value']) ? '-' : $resultData[$searchManager::BK_DATA_BILDTYPE]['value']) }}
                    dl.bk_name.card-title
                        dd.value {{ empty($resultData['name']) ? $title : $resultData['name'] }}
                    .bk-data-main.mb-1
                        |<?php
                        |   $buildType = $resultData[$searchManager::BK_DATA_BILDTYPE]['key'];
                        |   $dispItem = $searchManager->getBkResultTemplateData(
                        |       $searchManager::BK_DISPITEM_KEY_TINYMAIN, $rentSaleStr, $buildType, false
                        |   );
                        |?>
                        |@include ('searchItems.listInlineItem', [$searchManager, $rentSaleStr, $resultData, $dispItem])
                    .bk-data-sub.mb-1
                        |<?php
                        |   $dispItem = $searchManager->getBkResultTemplateData(
                        |       $searchManager::BK_DISPITEM_KEY_TINYSUB, $rentSaleStr, $buildType, false
                        |   );
                        |?>
                        |@include ('searchItems.listInlineItem', [$searchManager, $rentSaleStr, $resultData, $dispItem])
                    .ad-kotu.list-inline-item
                        |<?php if(!empty($resultData[$searchManager::BK_DATA_ADDRESS])) { ?>
                        span(class!="{{ $searchManager::BK_DATA_ADDRESS }}")
                            p.ad_value {{ $resultData[$searchManager::BK_DATA_ADDRESS] }}
                        |<?php } ?>
                        |<?php $trafficData = $searchManager->getAndConvertTrafficData($resultData[$searchManager::BK_DATA_TRAFFIC]); ?>
                        |<?php if(!empty($trafficData[0])) { ?>
                        span(class!="{{ $trafficData[0]['class'] }}")
                            p.kotu_value {{ $trafficData[0]['text'] }}
                        |<?php } ?>
                    |<?php $comment = $searchManager->getPrComment($resultData, true); ?>
                    |<?php if(!empty($comment)) { ?>
                    .disp-comment.pr_comment
                        | {{ implode("<br>", $comment) }}
                    |<?php } ?>
                    .inner190.d-none
                        .whole190
                            button.btn.btn-default.detail190
                            .shadow190
    |<?php } ?>
.row
    .more-button.clearfix.col-md-12.text-center
        |<?php $param = $searchManager->getAndUnsetParameter($query, 'limit'); ?>
        a(href!="/{{ $rentSaleStr }}/result?{{ implode('&', $param) }}").btn 一覧はこちら
