|<?php
|/**
| * Copyright(c) 1997-2018 Nihon Jyoho Create Co.,Ltd.
| */
|?>
|<?php
|   $parentText = $data[$keyData['keyText']];
|   $group = $data[$keyData['keyGroup']];
|?>
.head
    h4
        label
            span
                | {{ $parentText }}
ul(class!="main_{{ $rKey }}")
    |<?php foreach($group as $groupData) { ?>
    |<?php
    |   $text = $groupData[$keyData['keyGroupText']];
    |   $value = $groupData[$keyData['keyGroupValue']];
    |   if(isset($groupData['count'])) {
    |       $text .= "(" . $groupData['count'] . "件)";
    |   }
    |?>
    li(class!="sub_{{ $rKey }}")
        label.form-control
            input.checksubmit(type!='checkbox', name!='{{ $rKey }}[]', class!="child_{{ $rKey }}", value!="{{ $value }}")
            span
                |{{ $text }}
    |<?php } ?>
