|<?php
|/**
| * Copyright(c) 1997-2018 Nihon Jyoho Create Co.,Ltd.
| */
|?>
|<?php
|   $query = app('request')->all();
|   $nowSort = (!isset($query['sorts'])) ? 'money_at' : $query['sorts'];
|   $nowLimit = (!isset($query['limit'])) ? 30 : $query['limit'];
|?>
.row
    .bk-count.col-md-6
        p.count-text.m-0
            |<?php $countData = $searchManager->getBkCount($rentSaleStr, true, []); ?>
            |<?php $count = empty($countData[$searchManager::RS_STR_NO_BUNDLE]) ? $countData[$rentSaleStr] : $countData[$searchManager::RS_STR_NO_BUNDLE]; ?>
            |該当物件数
            span.count {{ $count }}
            |件
            |<?php if(!empty($countData[$searchManager::RS_STR_NO_BUNDLE])) { ?>
            |(該当棟数
            span.count.bundle {{ $countData[$rentSaleStr] }}
            |件)
            |<?php } ?>
    .bk-list-sort.col-md-6.text-md-right.text-center
        select.sort-order.form-control(name="sorts", onchange!="location.href='{{ $searchManager->getAndUnsetUrl(\"sorts\") }}&sorts='+this.options[this.selectedIndex].value")
            |<?php foreach($searchManager->getSortOrderList($rentSaleStr) as $value => $text) { ?>
            |<?php if($value == $nowSort) { ?>
            option(value="{{ $value }}", selected) {{ $text }}
            |<?php } else { ?>
            option(value="{{ $value }}") {{ $text }}
            |<?php } ?>
            |<?php } ?>
        select.limit-select.form-control(name="limit", onchange!="location.href='{{ $searchManager->getAndUnsetUrl(\"limit\") }}&limit='+this.options[this.selectedIndex].value")
            |<?php foreach([9, 15, 30, 60, 90] as $value) { ?>
            |<?php if($value == $nowLimit) { ?>
            option(value="{{ $value }}", selected) 表示件数 {{ $value }}件
            |<?php } else { ?>
            option(value="{{ $value }}") 表示件数 {{ $value }}件
            |<?php } ?>
            |<?php } ?>
