|<?php
|/**
| * Copyright(c) 1997-2018 Nihon Jyoho Create Co.,Ltd.
| */
|?>
div.detail-shop.card
    div.shop-wrap.card-body
        .row
            div.innerL.col-md-4
                figure.shop-image.text-center
                    img(src="/images/sample-company.jpg").figure-img.img-fluid
            div.innerR.col-md-8
                div.shop-info-top
                    p.shop-name.card-title.h5 ○○不動産
                    p.shop-address
                        span.shop-address-post.card-text &#12306;885-0086
                        span.shop-address-conts.card-text 宮崎県都城市○○○○○○1-2
                div.shop-info-main
                    div.shop-ordinary
                        .row
                            dl.shop-license.col-md-6
                                dt.title 免許番号
                                dd.value 宮崎県(0)123456789
                            dl.shop-group.col-md-6
                                dt.title 所属団体
                                dd.value 宮崎賃貸○○○○○○
                    div.shop-contact
                        .row
                            .col-lg-4.col-sm-6
                                dl.shop-tel
                                    dt.title TEL
                                    dd.value
                                        a.btn.btn-outline-dark.w-100.shop-tel-link(href="tel:0120-12-3645") 0120-12-3645
                            .col-lg-4.col-sm-6
                                dl.shop-tel
                                    dt.title TEL
                                    dd.value
                                        a.btn.btn-outline-dark.w-100.shop-tel-link(href="tel:090-1234-4568") 090-1234-4568
                            .col-lg-4.col-sm-12
                                dl.shop-fax
                                    dt.title FAX
                                    dd.value 0120-12-4569
                    div.shop-sales-time
                        .row
                            dl.shop-sales-time-hour.col-md-6
                                dt.title 営業時間
                                dd.value
                                    span.shop-open-hours 9：00～18：00
                                    span.shop-open-memo ご都合により来店・ご案内が営業時間外の場合は、お気軽にお問合せください。
                            dl.shop-sales-time-day.col-md-6
                                dt.title 定休日
                                dd.value 水曜日・祝日(2月・3月は、定休日なしで営業しております。)
