|<?php
|/**
| * Copyright(c) 1997-2018 Nihon Jyoho Create Co.,Ltd.
| */
|?>
|<?php $data = $searchManager->getBkDetailTemplateData($rentSaleStr, $searchManager::BK_TEMPLATE_SIMPLE, $detailData[$searchManager::BK_DATA_BILDTYPE]['key']); ?>
.col-md-6
    table.table.bkDetailDataHead
        tbody
            |<?php foreach($data as $template) { ?>
            tr
                th
                    | {{ $template['name'] }}
                td
                    |<?php $cnt = 0; ?>
                    |<?php foreach($template['text'] as $key => $value) { ?>
                    |<?php $cnt++; ?>
                    |<?php if(!is_numeric($key)) { ?>
                    div(class!="{{ $key }}")
                        | {{ $value }}
                    |<?php } else { ?>
                    |<?php $rKey = $value; ?>
                    |<?php if($rKey == $searchManager::BK_DATA_MONEY) { ?>
                    div(class!="{{ $rKey }}")
                        |<?php $money = $detailData[$rKey]; ?>
                        |@include ('searchItems.moneySplit', [$searchManager, $rentSaleStr, $money])
                    |<?php } else { ?>
                    div(class!="{{ $rKey }}")
                        |<?php
                        |   $text = $searchManager->getAndCheckBkData($detailData, $rKey, null);
                        |   if("-" !== $text) {
                        |       if($searchManager::BK_DATA_AREASIZE === $rKey) {
                        |           $area_keisoku = "";
                        |           if(!empty($detailData[$searchManager::BK_DATA_AREASIZE_KEI]['value'])) {
                        |               $area_keisoku = "（{$detailData[$searchManager::BK_DATA_AREASIZE_KEI]['value']}）";
                        |           }
                        |           $text = number_format($text, 2) . "㎡{$area_keisoku}(" . (floor($text * 0.3025 * 100) / 100) . "坪)";
                        |       } else {
                        |           $text = $searchManager->setConvertText($rentSaleStr, $rKey, $text);
                        |       }
                        |   }
                        |?>
                        |{{ $text }}
                    |<?php } ?>
                    |<?php if($cnt < count($template['text'])) { ?>
                    span.glue /
                    |<?php } ?>
                    |<?php } ?>
                    |<?php } ?>
            |<?php } ?>
|<?php
|   $imgData = null;
|   if(!empty($detailData[$searchManager::BK_DATA_IMAGES])) {
|       $imgData = $searchManager->getMainImagePath($detailData[$searchManager::BK_DATA_IMAGES], $rentSaleStr);
|   }
|   $bkName = $searchManager->getAndCheckBkData($detailData, $searchManager::BK_DATA_NAME, null);
|   if("-" === $bkName) {
|       $bkName = $searchManager->createLinkTitle($rentSaleStr, $detailData);
|   }
|?>
|<?php if(!empty($imgData)) { ?>
.col-md-6
    .bk-detail-sub-image-wrapper.p-2
        .bk-detail-sub-image-inner
            img(src="{{ $imgData['path'] }}", alt="{{ $bkName }} {{ $imgData['comment'] }}")
|<?php } ?>
