|<?php
|/**
| * Copyright(c) 1997-2018 Nihon Jyoho Create Co.,Ltd.
| */
|?>
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        title 物件が見つかりません
        meta(name="viewport", content="width=1040")
        meta(name="robots", content="noindex, nofollow")
        link(rel="stylesheet" type="text/css" href="/css/njc/Errors/error.css?= {{ date('Ymdhis') }}")
    body
        .container
            .error-wrap.mode-404
                .error-content-wrap
                    .h2 お探しの物件が見つかりません。
                    p.error お手数ですが、トップページより再度お探しください。
                    .link-contents
                        p ▶
                            a(href="/") トップページへ
