|<?php
|/**
| * Copyright(c) 1997-2018 Nihon Jyoho Create Co.,Ltd.
| */
|?>
|<?php
|   $rentSale = RS_CODE_RENT;
|   $rentSaleStr = RS_STR_RENT;
|?>
|@include ('map.map_bukken', [$rentSale, $rentSaleStr])
