|<?php
|/**
| * Copyright(c) 1997-2018 Nihon Jyoho Create Co.,Ltd.
| */
|?>
meta(property="og:url"          , content!="{{ app('request')->url() }}")
meta(property="og:type"         , content="website")
meta(property="og:title"        , content="〇〇不動産")
meta(property="og:description"  , content="〇〇不動産のサイトです")
meta(property="og:image"        , content="http://grape-dev.aws8.njc-web.info/images/main_img.png")
meta(property="og:site_name"    , content="〇〇不動産")
